
<% @contact.each do |contact| %>
 <table class="tg">
    <th class="tg-031e" rowspan="5">
        <img src ="/data/<%= contact.photo %>" width="80" height="90"/ style="padding-right: 25px;">
    </th>
    
    <th class="tg-iu59"colspan="0" ><%= contact.firstname %> <%= contact.lastname %></th>
  </tr>
  <tr>
    <td class="tg-031e">Gender</td>
    <td class="tg-031e"><%= contact.avatar %></td>
  </tr>
  <tr>
    <td class="tg-031e">Email</td>
    <td class="tg-031e"><%= contact.emailid %></td>
  </tr>
  <tr>
    <td class="tg-031e">Phone</td>
    <td class="tg-031e"><%= contact.mno %></td>
  </tr>
  <tr>
    <td class="tg-031e">Address</td>
    <td class="tg-031e"><%= contact.add %></td>
  </tr> 

 
 
</table> <hr width="1000"%>
<% end %>
